**/phi*.txt
*.gz
*.zip
*.m
*.csv
Code from Kevin/phi_CPC_big.m
.DS_Store
C/.DS_Store
C/Tests/.DS_Store
Code from Kevin/phi_CPC_circle.m
outputs/phi_CPC_big.m
outputs/phi_CPC.m
outputs/phi_CPC_big_from_file.m
outputs/phi_CPC_big_from_file_128x128_100s_10max.m
outputs/phi_CPC_big_from_file_128x128_100s_5max.m
outputs/phi_CPC_big_from_file_128x128_100s_6max.m
outputs/phi_CPC_big_from_file_128x128_500s_5max.m
outputs/phi_CPC_circle.m
outputs/phi_CPC_cohesin_width_4.m
outputs/phi_CPC_from_file_128x128_100s_10max.m
outputs/phi_CPC_from_file_128x128_100s_4max.m
outputs/phi_CPC_from_file_128x128_100s_5max.m
outputs/phi_CPC_from_file_128x128_100s_7max.m
outputs/phi_CPC_from_file_128x128_100s_8max.m
outputs/phi_CPC_from_file_128x128_500s_10max.m
outputs/phi_CPC_from_file_128x128_500s_5max.m
outputs/phi_CPC_update.m
C/phi_CPC_time.m
outputs/julia/output_128_10000.txt
julia_c_256_error/output_Julia_on_mac_MinJhe/a_v4__tan_IC.txt
julia_c_256_error/output_Julia_on_mac_MinJhe/a_v5_full__tan_IC.txt
julia_c_256_error/output_Julia_on_mac_MinJhe/f_full_initial__tan_IC.txt
julia_c_256_error/output_Julia_on_mac_MinJhe/f_v5_full__tan_IC.txt
julia_c_256_error/output_Julia_on_mac_new_MinJhe/a_v5_full__tan_IC.txt
julia_c_256_error/output_Julia_on_mac_new_MinJhe/f_full_initial__tan_IC.txt
julia_c_256_error/output_Julia_on_mac_new_MinJhe/f_v5_full__tan_IC.txt
outputs/julia/ave_mass/phi_128_100_0.0001.txt
outputs/julia/ave_mass/phi_128_100_0.001.txt
outputs/julia/ave_mass/phi_128_100_0.01.txt
outputs/julia/ave_mass/phi_128_100_0.1.txt
outputs/julia/ave_mass/phi_128_100_1.0e-5.txt
outputs/julia/ave_mass/phi_128_100_1.0e-6.txt
outputs/julia/ave_mass/phi_128_100_1e-6tol.txt
outputs/julia/ave_mass/phi_128_15000_0.0001.txt
outputs/julia/ave_mass/phi_128_15000_0.001.txt
outputs/julia/ave_mass/phi_128_15000_0.01.txt
outputs/julia/ave_mass/phi_128_15000_0.1.txt
outputs/julia/ave_mass/phi_128_15000_1.0e-5.txt
outputs/julia/ave_mass/phi_128_15000_1.0e-6.txt
outputs/julia/ave_mass/phi_128_300_0.0001.txt
outputs/julia/ave_mass/phi_128_300_0.001.txt
outputs/julia/ave_mass/phi_128_300_0.01.txt
outputs/julia/ave_mass/phi_128_300_0.1.txt
outputs/julia/ave_mass/phi_128_300_1.0e-5.txt
outputs/julia/ave_mass/phi_128_300_1.0e-6.txt
outputs/julia/ave_mass/phi_256_100_1.0e-5.txt
outputs/julia/ave_mass/phi_256_300_0.0001.txt
outputs/julia/ave_mass/phi_256_300_0.001.txt
outputs/julia/ave_mass/phi_256_300_0.01.txt
outputs/julia/ave_mass/phi_256_300_0.1.txt
outputs/julia/ave_mass/phi_256_300_1.0e-5.txt
outputs/julia/phi_128_100_0.0001.txt
outputs/julia/phi_128_100_0.001.txt
outputs/julia/phi_128_100_0.01.txt
outputs/julia/phi_128_100_0.1.txt
outputs/julia/phi_128_100_1.0e-5.txt
outputs/julia/phi_128_100_1.0e-6.txt
outputs/julia/phi_128_15000_0.0001.txt
outputs/julia/phi_128_15000_0.001.txt
outputs/julia/phi_128_15000_0.01.txt
outputs/julia/phi_128_15000_0.1.txt
outputs/julia/phi_128_15000_1.0e-5.txt
outputs/julia/phi_128_15000_1.0e-6.txt
outputs/julia/phi_128_300_0.0001.txt
outputs/julia/phi_128_300_0.001.txt
outputs/julia/phi_128_300_0.01.txt
outputs/julia/phi_128_300_0.1.txt
outputs/julia/phi_128_300_1.0e-5.txt
outputs/julia/phi_128_300_1.0e-6.txt
outputs/julia/phi_256_100_1.0e-5.txt
outputs/julia/phi_256_300_0.0001.txt
outputs/julia/phi_256_300_0.001.txt
outputs/julia/phi_256_300_0.01.txt
outputs/julia/phi_256_300_0.1.txt
outputs/julia/phi_256_300_1.0e-5.txt
